/** Main CSS */
body {
  padding-top: 50px;
}

/** Main layout container. */
.main-container {
}


.navbar-brand {
	padding: 7px;
}

/** Social channel action (ie: fb, twitter, etc) */
.social-channel {
  display: block;
  margin: 5px 0;
}

/** Textarea inside the message dialog. */
.send-message-dialog textarea {
  height: 200px;
  width: 98%;
}

/** Social buttons. */
.btn-social {
  background-image: none;
  width: 196px;
}

.btn-social-icon {
  background-image: none;
}

.info {
  word-break: break-word;
}

.social-channels {
  text-align: center;
}

.info p {
  display: none;
}

.activities span {
  font-style: italic;
  font-weight: bold;
}

.brand img {
  height: 24px;
  width: 24px;
}

.message p,
.message li {
  font-size: 16px;
}

.message ul {
  padding: 0;
}

.message li {
  list-style: none;
}

#userSettings {
  margin-top: 8px;
}

.user-form input[type="text"] {
  width: 150px;
}
