<!doctype html>
<html>
  <head>
    <title>Yo los paro</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Open graph object information, used to share in facebook -->
    <meta property="fb:app_id" content="602412299869906" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Yo los paro!" />
    <meta property="og:url" content="http://yolosparo.org" />
    <meta property="og:description"
      content="Le pedimos a nuestros legisladores que cambien su posición y voten NO al fracking, NO a la nueva ley de hidrocarburos." />
    <meta property="og:image" content="http://yolosparo.org/images/stop-fracking.jpg" />

    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="/css/yolosparo.css">

    <script type="text/javascript" src="/js/es5-shim.min.js"></script>
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Yo los paro!</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Inicio</a></li>
            </ul>
            <div class="pull-right">
              <h4>Bienvenid@, {{user.nick}}!</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container main-container">
      {{{body}}}
    </div>

    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
