<h1>Las mentiras de los legisladores</h1>

<p>
Les revelamos algunas mentiras que dicen los legisladores que van a votar a
favor de la ley de hidrocarburos.
</p>

<ol>
  <li>Asegura la soberanía hidrocarburífera. <strong>FALSO</strong>
    <ul>
      <li>La ley prohibe que empresas nacionales exploten hidrocarburos, sólo empresas extranjeras pueden recibir concesiones.</li>
      <li>Las concesiones se autorenuevan y son por tiempo
      indefinido hasta que se agotan los recursos naturales.</li>
    </ul>
  </li>
  <li>Asegura el verdadero autoabastecimiento. <strong>FALSO</strong>
    <ul>
      <li>Las empresas extranjeras pueden exportar el 20% de la producción (60% para la producción marítima)</li>
      <li>A pesar de explotar nuestro suelo pueden vender
      en el mercado interno a precios internacionales.</li>
    </ul>
  </li>
  <li>Ayuda a ahorrar divisas. <strong>FALSO</strong>
    <ul>
      <li>El pago por el barril de crudo seguirá siendo en dólares, y a
      precio internacional.</li>
      <li>Las empresas extranjeras podrán sacar divisas del país sin ningún
      tipo de restricciones.</li>
    </ul>
  </li>
</ol>

<h2>Además...</h2>

<ul>
  <li>El proyecto de ley no estipula ningún control sobre el tratamiento de
  deshechos.</li>
  <li>Los minerales que surgen a la superficie junto al crudo son altamente
  radiactivos (uranio y potasio, entre otros)</li>
  <li>La zona de explotación es reclamada legítimamente por la comunidad
  mapuche, y no se han realizado las consultas que estipula la legislación.</li>
</ul>

<h3>
  <a href="/#legislatives"><span class="glyphicon glyphicon-earphone"></span> Pedile explicaciones a tu Diputado</a>
</h3>
