<div class="contact jumbotron">
  <h2>¡Gracias por sumarte y participar!</h2>
  <p>Participar es mucho más que firmar una petición o votar en elecciones, es involucrarse en las decisiones de la comunidad. Por eso el objetivo de <strong>yolosparo</strong> es la acción directa a través de los medios digitales.</p>
  <p>Si tenés sugerencias o conocés más diputados que van a votar a favor
  de la ley de hidrocarburos podés mandarnos un email a <a href="mailto:contacto@yolosparo.org">contacto@yolosparo.org</a>.</p>
  <p>Si sos un legislador y cambiaste de opinión, podés enviarnos un email y vamos a agregar el indicador de <em>representante del pueblo</em> en tu perfil.</p>
  <p>También podés seguirnos en twitter
    <a href="https://www.twitter.com/hoylosparo">@yolosparo</a></p>
</div>
