<div class="row">
  <div class="span3">

    <form>

      <h2>¿Qué querés hacer?</h2>
      <div class="form-group">

        <div class="checkbox">
          <label>
            <input type="checkbox" name="comenta" /> Comentar en redes sociales y webs
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" name="escribe" /> Mandar mails
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" name="va" /> Ir a demostraciones/eventos
          </label>
        </div>

      </div>

      <h2>̉¿Donde?</h2>

      <div>
        <select>
          <option name="distrito" value="todos">Todos los distritos</option>
        </select>
      </div>

    </form>

  </div>

  <div class="span6">

    {{#each legislatives}}
      <div class="media">
        <img class="pull-left media-object" alt="{{fullName}}" src="{{pictureUrl}}">
        <div class="media-body">
          <h4 class="media-heading">{{fullName}}</h4>

          <div class="info">
            <strong>Partido</strong>: {{party}}<br>
            <span><strong>Distrito</strong>: {{district}}<br>
            {{#if siteUrl}}
              <strong>Sitio web</strong>: <a href="{{siteUrl}}">{{siteUrl}}</a><br>
            {{/if}}
            <a class="js-show-info" href="javascript:;">Mostrar más información</a>
            <p>
              {{#if address}}
                <strong>Dirección en el Congreso</strong>: {{address}}<br>
              {{/if}}
              {{#if phone}}
                <strong>Teléfono del Congreso</strong>: {{phone}}<br>
              {{/if}}
              {{#if personalAddress}}
                <strong>Dirección en su distrito</strong>: {{personalAddress}}<br>
              {{/if}}
              {{#if personalPhone}}
                <strong>Teléfono de su distrito</strong>: {{personalPhone}}<br>
              {{/if}}
              {{#if secretary}}
                <strong>Secretari@</strong>: {{secretary}}<br>
              {{/if}}
              {{#if secretaryPhone}}
                <strong>Teléfono de la/el secretari@</strong>: {{secretaryPhone}}<br>
              {{/if}}
            </p>
          </div>
          <div class="social-channels">
            <a class="js-send-message"
              data-id="{{id}}"
              href="javascript:;">Enviar email</a>

            {{#if facebookName}}
              <a class="js-fb-feed btn btn-block btn-social btn-facebook"
                data-to="{{facebookName}}"
                href="javascript:;">
                <i class="fa fa-facebook"><!-- Icon --></i>Escribirle en Facebook
              </a>
            {{else}}
              <p>
              No tiene Facebook
              </p>
            {{/if}}
            {{#if twitterName}}
              <a href="https://twitter.com/intent/tweet?screen_name={{twitterName}}&text={{../config.tweet}}"
                class="social-channel twitter-mention-button"
                data-related="{{twitterName}}"
                data-size="large"
                data-dnt="true"
                data-lang="es">Tweetear a {{twitterName}}</a>
              {{else}}
                <p>
                No tiene Twitter
                </p>
              {{/if}}
            </div>
        </div>
      </div>
    {{/each}}

  </div>

  <div class="span3">
    <h3>Actividad</h3>
  </div>

</div>

    <div class="js-send-message-dialog send-message-dialog modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Enviar mensaje</h3>
      </div>
      <div class="modal-body">
        <p>
          Para: <span class="js-message-to"><!-- --></span>
        </p>
        <p>
          De: <input name="message-from">
        </p>
        <textarea name="message">{{config.emailMessage}}</textarea>
      </div>
      <div class="modal-footer">
        <a href="#" class="js-cancel btn">Cancelar</a>
        <a href="#" class="js-send btn btn-primary">Enviar</a>
      </div>
    </div>

    <script type="text/javascript"
      src="https://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript"
      src="//connect.facebook.net/es_LA/all.js"></script>
    <script type="text/javascript" src="/js/SendMessage.js"></script>

    <script type="text/javascript">
      jQuery(function () {
        var sendMessage = new SendMessage(jQuery(document.body),
          {{{json legislatives}}});
        sendMessage.render();

        FB.init({
          appId: '{{config.facebookAppId}}',
          xfbml: true,
          version: 'v2.1'
        });
      });
    </script>

