<div class="row">
  <div class="col-md-6">
		<br />
		<div style="height: 50px" class="hidden-sm"> &nbsp; </div>
		<div id="mainslider">
			<ul class="bjqs">
				<li><img src="/images/fracking_pozos.jpg" alt="Para el fracking se realizan cientos de pozos." /></li>
				<li><img src="/images/fracking_agua.jpeg" alt="El fracking contamina el agua." /></li>
				<li><img src="/images/argentina_libre_de_fracking.jpg" alt="Argentina libre de fracking" /></li>
			</ul>
		</div>

	</div>
	<div class="message col-md-6">

    <h3>
      <a href="#legislatives">¡Activá Ya!</a>
      <a href="https://twitter.com/intent/tweet?related=hoylosparo&url=http%3A%2F%2Fwww.yolosparo.org&text=Hoy%20todos%20juntos%20le%20decimos%20NO%20al%20fracking%20y%20se%20lo%20pedimos%20a%20nuestros%20diputados"
        class="btn btn-social-icon btn-twitter" target="_blank">
        <i class="fa fa-twitter"><!-- Twitter icon --></i>
      </a>
      <a href="https://www.facebook.com/dialog/feed?app_id={{config.facebookAppId}}&caption=Yo los paro!&link=http%3A%2F%2Fyolosparo.org&redirect_uri=http%3A%2F%2Fyolosparo.org"
      class="btn btn-social-icon btn-facebook" target="_blank">
        <i class="fa fa-facebook"><!-- Twitter icon --></i>
      </a>
      <a href="https://plus.google.com/share?url=http%3A%2F%2Fyolosparo.org"
      class="btn btn-social-icon btn-google-plus" target="_blank">
        <i class="fa fa-google-plus"><!-- Twitter icon --></i>
      </a>
      <a href="http://reddit.com/submit?url=http%3A%2F%2Fyolosparo.org"
      class="btn btn-social-icon btn-reddit" target="_blank">
        <i class="fa fa-reddit"><!-- Twitter icon --></i>
      </a>
    </h3>

    <p>El Proyecto de Ley de Hidrocarburos ya recibió media sanción en el Senado
    y de ser aprobado por el Congreso significaría la <strong>total entrega de nuestros
    recursos naturales y la condena de nuestra soberanía energética y salud por
    las próximas tres generaciones</strong>.</p>

    <p>El proyecto <strong>establece un tope a las regalías del 12%, el mas bajo
    de latinoamérica</strong> y uno de los mas bajos del mundo, a la vez que pone un tope del 3% a los impuestos provinciales a las petroleras. </p>

    <p><strong>Permite a las petroleras aumentar el precio interno hasta precios internacionales</strong> y sacar del país el 20% de la producción (60% para la producción marina).</p>

		<a href="javascript:void();" data-toggle="collapse" data-target="#home-more" onClick="$(this).hide()"><span class="glyphicon glyphicon-chevron-down"></span> Leé Más</a>

		<div id="home-more" class="collapse">
    <p><strong>Afianza el fracking en el país</strong>, un método sumamente contaminante y dependiente de patentes extranjeras, aumentando los tiempos de concesión a 35 años y permitiéndoles usar y contaminar el agua subterranea.</p>

    <p>Finalmente, no controla la explotación, sino que confía en que las petroleras
    digan la verdad sobre la cantidad extraída, renueva las concesiones sin licitación
    ni canon alguno y <strong>no plantea una reconversión energética a tecnologías renovables</strong>.</p>

    <p>Para frenar esto necesitamos la ayuda de todas las personas, necesitamos
    convencer a nuestros representantes políticos de que le digan <strong>NO a este
    proyecto</strong>, por eso:</p>

    <ul>
      <li>
        <span class="glyphicon glyphicon-volume-up"><!-- Icon --></span>
        <strong>Difundí los problemas de este proyecto de ley.</strong>
      </li>
      <li>
        <span class="glyphicon glyphicon-earphone"><!-- Icon --></span>
        <strong>Contactá a un/a diputado/a y explicale por qué tiene que votar en contra del proyecto.</strong>
      </li>
      <li>
        <span class="glyphicon glyphicon-heart"><!-- Icon --></span>
        <strong>Sumá a tus familiares, amigos y conocidos a esta campaña.</strong>
      </li>
    </ul>
		</div>

	</div>
</div>

<a name="legislatives" href="javascript:;"><!-- Marker--></a>

<hr />

<div class="row">
  <div class="col-md-12">
    <h3>Filtrar por distrito</h3>

    <div>
      <p><a href="/#legislatives">Todos</a> |
        <a href="/?district=CIUDAD de BUENOS AIRES#legislatives">Ciudad de Buenos Aires</a> |
        <a href="/?district=BUENOS AIRES#legislatives">Buenos Aires</a> |
        <a href="/?district=CATAMARCA#legislatives">Catamarca</a> |
        <a href="/?district=CHACO#legislatives">Chaco</a> |
        <a href="/?district=CHUBUT#legislatives">Chubut</a> |
        <a href="/?district=CORDOBA#legislatives">Córdoba</a> |
        <a href="/?district=CORRIENTES#legislatives">Corrientes</a> |
        <a href="/?district=ENTRE RIOS#legislatives">Entre Ríos</a> |
        <a href="/?district=FORMOSA#legislatives">Formosa</a> |
        <a href="/?district=JUJUY#legislatives">Jujuy</a> |
        <a href="/?district=LA PAMPA#legislatives">La Pampa</a> |
        <a href="/?district=LA RIOJA#legislatives">La Rioja</a> |
        <a href="/?district=MENDOZA#legislatives">Mendoza</a> |
        <a href="/?district=MISIONES#legislatives">Misiones</a> |
        <a href="/?district=NEUQUEN#legislatives">Neuquén</a> |
        <a href="/?district=RIO NEGRO#legislatives">Río Negro</a> |
        <a href="/?district=SALTA#legislatives">Salta</a> |
        <a href="/?district=SAN JUAN#legislatives">San Juan</a> |
        <a href="/?district=SAN LUIS#legislatives">San Luis</a> |
        <a href="/?district=SANTA CRUZ#legislatives">Santa Cruz</a> |
        <a href="/?district=SANTA FE#legislatives">Santa Fe</a> |
        <a href="/?district=SANTIAGO DEL ESTERO#legislatives">Santiago del Estero</a> |
        <a href="/?district=TIERRA DEL FUEGO#legislatives">
          Tierra del Fuego, Antártida e Islas del Atlántico Sur</a> |
        <a href="/?district=TUCUMAN#legislatives">Tucumán</a>
      </p>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-8">
    <h3>Legisladores que van a votar a favor de la ley</h3>

    {{#unless legislatives.length}}
      No hay legisladores en este distrito.
    {{/unless}}

    {{#each legislatives}}
      <div class="media">
        {{#if facebookUrl}}
          <a class="media-object pull-left" href="{{facebookUrl}}" target="_blank">
            <img alt="{{fullName}}" class="unveil" data-src="{{pictureUrl}}" width="107" height="80">
          </a>
        {{else}}
          <img class="pull-left media-object unveil" alt="{{fullName}}"
            data-src="{{pictureUrl}}" width="107" height="80">
        {{/if}}
        <div class="media-body">
          <div class="info pull-left">
            <h4 class="media-heading">{{fullName}}</h4>

            <div class="social-channel">
              {{#if twitterUrl}}
                <a href="{{twitterUrl}}"
                  class="btn btn-social-icon btn-xs btn-twitter" target="_blank">
                  <i class="fa fa-twitter"><!-- Twitter icon --></i>
                </a>
              {{/if}}
              {{#if facebookUrl}}
                <a href="{{facebookUrl}}"
                class="btn btn-social-icon btn-xs btn-facebook" target="_blank">
                  <i class="fa fa-facebook"><!-- Twitter icon --></i>
                </a>
              {{/if}}
            </div>

            {{#if siteUrl}}
              <strong>Sitio:</strong> <a href="{{siteUrl}}">{{siteUrl}}</a><br>
            {{/if}}
            {{#if address}}
              <strong>Dirección en el Congreso</strong>: {{address}}<br>
            {{/if}}
            {{#if phone}}
              <strong>Teléfono del Congreso</strong>: {{phone}}<br>
            {{/if}}
            <small><a class="js-show-info" href="javascript:;">Mostrar más información</a></small>
            <p>
              {{#if personalAddress}}
                <strong>Dirección en su distrito</strong>: {{personalAddress}}<br>
              {{/if}}
              {{#if personalPhone}}
                <strong>Teléfono de su distrito</strong>: {{personalPhone}}<br>
              {{/if}}
              {{#if secretary}}
                <strong>Secretari@</strong>: {{secretary}}<br>
              {{/if}}
              {{#if secretaryPhone}}
                <strong>Teléfono de la/el secretari@</strong>: {{secretaryPhone}}<br>
              {{/if}}
            </p>
          </div>
          <div class="social-channels pull-right">
            <button class="js-send-message social-channel btn btn-block btn-default"
              data-id="{{id}}">Enviar email</button>

            {{#if facebookName}}
              <a id="fb-{{id}}"
                class="js-fb-feed btn btn-block btn-social btn-facebook"
                data-to="{{facebookName}}"
                href="javascript:;">
                <i class="fa fa-facebook"><!-- Icon --></i>Escribirle en Facebook
              </a>
            {{else}}
              <p>
              No tiene Facebook
              </p>
            {{/if}}
            {{#if twitterName}}
              <a href="https://twitter.com/intent/tweet?screen_name={{twitterName}}&text={{../../config.tweet}}"
                id="tweet-{{id}}"
                class="social-channel btn btn-block btn-social btn-twitter"
                data-related="hoylosparo"
                data-size="large"
                data-dnt="true"
                data-lang="es"
                data-lid="{{id}}">
                <i class="fa fa-twitter"><!-- Icon --></i>Twittear a {{twitterName}}
              </a>
            {{else}}
              <p>
              No tiene Twitter
              </p>
            {{/if}}
          </div>
        </div>
      </div>
      <hr />
    {{/each}}

  </div>

  <div class="col-md-4 activities">
    <h3>Actividad</h3>
    <div class="js-activities">
      {{#each activities}}
        {{#if status}}
          <p>
            <span>{{user.nick}}</span> {{status}}
            <span>{{legislative.fullName}}</span>
          </p>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>

<div class="js-send-message-dialog send-message-dialog modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enviar mensaje</h4>
      </div>
      <div class="modal-body">
        <p>
          Para: <span class="js-message-to"><!-- --></span>
        </p>
        <p>
          De: <input name="message-from" value="{{user.email}}">
          <span id="error-message" class="alert-danger">{{config.emailErrorMessage}}</span>
        </p>
        <textarea name="message">{{config.emailMessage}}</textarea>
      </div>
      <div class="modal-footer">
        <a href="javascript:;" class="js-cancel btn">Cancelar</a>
        <a href="javascript:;" class="js-send btn btn-primary">Enviar</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript"
  src="https://platform.twitter.com/widgets.js"></script>
<script type="text/javascript"
  src="//connect.facebook.net/es_LA/all.js"></script>
<script type="text/javascript" src="/js/SendMessage.js"></script>

<script type="text/javascript">
  jQuery(function () {
    var sendMessage = new SendMessage(jQuery(document.body),
      {{{json legislatives}}}, {
        uid: {{user.id}}
      });
    sendMessage.render();

    FB.init({
      appId: '{{config.facebookAppId}}',
      xfbml: true,
      version: 'v2.1'
    });
  });
</script>
