<div class="row">
  <div class="span8">
		<div id="mainslider">
			<ul class="bjqs">
				<li><img src="/images/fracking_pozos.jpg" alt="Para el fracking se realizan cientos de pozos." /></li>
				<li><img src="/images/fracking_agua.jpeg" alt="El fracking contamina el agua." /></li>
				<li><img src="/images/argentina_libre_de_fracking.jpg" alt="Argentina libre de fracking" /></li>
			</ul>
		</div>

    <h3>¡Activá Ya!</h3>

    <p>El Proyecto de Ley de Hidrocarburos ya recibio media sanción en el Senado
    y de ser aprobado por el Congreso significaría la <strong>total entrega de nuestros
    recursos naturales y la condena de nuestra soberanía energética y salud por
    las próximas tres generaciones</strong>.</p>

    <p>El proyecto entreguista <strong>establece un tope a las regalías del 12%, el mas bajo
    de latinoamérica</strong> y uno de los mas bajos del mundo, a la vez que pone un tope
    del 3% a los impuestos provinciales a las petroleras. </p>

    <p><strong>Permite a las petroleras aumentar el precio interno hasta precios internacionales</strong>
    y sacar del país el 20% de la producción (60% para la producción marina). </p>

    <p><strong>Afianza el fracking en el país</strong>, un método sumamente contaminante y dependiente
    de patentes extranjeras, aumentando los tiempos de concesión a 35 años y
    permitiéndoles usar y contaminar el agua subterranea.</p>

    <p>Finalmente, no controla la explotación, sino que confía en que las petroleras
    digan la verdad sobre la cantidad extraida, renueva las concesiones sin licitación
    ni canon alguno y <strong>no plantea una reconversión energética a tecnologías renovables</strong>.</p>

    <p>Para frenar esto necesitamos la ayuda de todas las personas, necesitamos
    convencer a nuestros representantes políticos de que le digan <strong>NO a este
    proyecto</strong>, por eso:</p>

    <ul>
      <li>
        <strong>Difundí los problemas de este proyecto de ley.</strong>
      </li>
      <li>
        <strong>Contactá a un/a diputado/a y explicale por que tiene que votar en contra de este proyecto.</strong>
      </li>
      <li>
        <strong>Sumá a tus familiares, amigos y conocidos a esta campaña.</strong>
      </li>
    </ul>

		<hr />

		<h3>Filtrar por distrito</h3>

    <div>
      <p><a href="/">Todos</a></p>
      <p><a href="/?district=CIUDAD de BUENOS AIRES">Ciudad de Buenos Aires</a></p>
      <p><a href="/?district=BUENOS AIRES">Buenos Aires</a></p>
      <p><a href="/?district=CATAMARCA">Catamarca</a></p>
      <p><a href="/?district=CHACO">Chaco</a></p>
      <p><a href="/?district=CHUBUT">Chubut</a></p>
      <p><a href="/?district=CORDOBA">Córdoba</a></p>
      <p><a href="/?district=CORRIENTES">Corrientes</a></p>
      <p><a href="/?district=ENTRE RIOS">Entre Ríos</a></p>
      <p><a href="/?district=FORMOSA">Formosa</a></p>
      <p><a href="/?district=JUJUY">Jujuy</a></p>
      <p><a href="/?district=LA PAMPA">La Pampa</a></p>
      <p><a href="/?district=LA RIOJA">La Rioja</a></p>
      <p><a href="/?district=MENDOZA">Mendoza</a></p>
      <p><a href="/?district=MISIONES">Misiones</a></p>
      <p><a href="/?district=NEUQUEN">Neuquén</a></p>
      <p><a href="/?district=RIO NEGRO">Río Negro</a></p>
      <p><a href="/?district=SALTA">Salta</a></p>
      <p><a href="/?district=SAN JUAN">San Juan</a></p>
      <p><a href="/?district=SAN LUIS">San Luis</a></p>
      <p><a href="/?district=SANTA CRUZ">Santa Cruz</a></p>
      <p><a href="/?district=SANTA FE">Santa Fe</a></p>
      <p><a href="/?district=SANTIAGO DEL ESTERO">Santiago del Estero</a></p>
      <p><a href="/?district=TIERRA DEL FUEGO">
        Tierra del Fuego, Antártida e Islas del Atlántico Sur</a></p>
      <p><a href="/?district=TUCUMAN">Tucumán</a></p>
    </div>
  </div>

  <div class="span8">
    {{#each legislatives}}
      <div class="media">
        <img class="pull-left media-object" alt="{{fullName}}" src="{{pictureUrl}}">
        <div class="media-body">
          <div class="info pull-left">
            <h4 class="media-heading">{{fullName}}</h4>

            <strong>Partido</strong>: {{party}}<br>
            <strong>Distrito</strong>: {{district}}<br>

            {{#if siteUrl}}
              <a href="{{siteUrl}}">{{siteUrl}}</a><br>
            {{/if}}
            <small><a class="js-show-info" href="javascript:;">Mostrar más información</a></small>
            <p>
              {{#if address}}
                <strong>Dirección en el Congreso</strong>: {{address}}<br>
              {{/if}}
              {{#if phone}}
                <strong>Teléfono del Congreso</strong>: {{phone}}<br>
              {{/if}}
              {{#if personalAddress}}
                <strong>Dirección en su distrito</strong>: {{personalAddress}}<br>
              {{/if}}
              {{#if personalPhone}}
                <strong>Teléfono de su distrito</strong>: {{personalPhone}}<br>
              {{/if}}
              {{#if secretary}}
                <strong>Secretari@</strong>: {{secretary}}<br>
              {{/if}}
              {{#if secretaryPhone}}
                <strong>Teléfono de la/el secretari@</strong>: {{secretaryPhone}}<br>
              {{/if}}
            </p>
          </div>
          <div class="social-channels pull-right">
            <button class="js-send-message social-channel btn btn-default"
              data-id="{{id}}">Enviar email</button>

            {{#if facebookName}}
              <a class="js-fb-feed btn btn-block btn-social btn-facebook"
                data-to="{{facebookName}}"
                href="javascript:;">
                <i class="fa fa-facebook"><!-- Icon --></i>Escribirle en Facebook
              </a>
            {{else}}
              <p>
              No tiene Facebook
              </p>
            {{/if}}
            {{#if twitterName}}
              <a href="https://twitter.com/intent/tweet?screen_name={{twitterName}}&text={{../config.tweet}}"
                class="js-tweet social-channel twitter-mention-button"
                data-related="{{twitterName}}"
                data-size="large"
                data-dnt="true"
                data-lang="es"
                data-lid="{{id}}">Tweetear a {{twitterName}}</a>
            {{else}}
              <p>
              No tiene Twitter
              </p>
            {{/if}}
          </div>
        </div>
      </div>
    {{/each}}

  </div>

  <div class="js-activities span3 activities">
    <h3>Actividad</h3>
    {{#each activities}}
      {{#if status}}
        <p>
          <span>{{user.nick}}</span> {{status}}
          <span>{{legislative.fullName}}</span>
        </p>
      {{/if}}
    {{/each}}
  </div>
</div>

<div class="js-send-message-dialog send-message-dialog modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Enviar mensaje</h3>
  </div>
  <div class="modal-body">
    <p>
      Para: <span class="js-message-to"><!-- --></span>
    </p>
    <p>
      De: <input name="message-from">
    </p>
    <textarea name="message">{{config.emailMessage}}</textarea>
  </div>
  <div class="modal-footer">
    <a href="#" class="js-cancel btn">Cancelar</a>
    <a href="#" class="js-send btn btn-primary">Enviar</a>
  </div>
</div>

<script type="text/javascript"
  src="https://platform.twitter.com/widgets.js"></script>
<script type="text/javascript"
  src="//connect.facebook.net/es_LA/all.js"></script>
<script type="text/javascript" src="/js/SendMessage.js"></script>

<script type="text/javascript">
  jQuery(function () {
    var sendMessage = new SendMessage(jQuery(document.body),
      {{{json legislatives}}}, {
        uid: {{user.id}}
      });
    sendMessage.render();

    jQuery('#mainslider').bjqs({
      'width' : 590,
      'height' : 400,
      'animtype' : 'fade',
      'animduration' : 450,
      'animspeed' : 3000,
      'automatic' : true,
      'responsive' : true,
      'showcontrols' : false,
      'showmarkers' : false,
      'hoverpause' : false,
      'randomstart' : false
    });

    FB.init({
      appId: '{{config.facebookAppId}}',
      xfbml: true,
      version: 'v2.1'
    });
  });
</script>
