<div class="argentina-digital row">
  <h1>¿Qué es <strong class="text-primary">Argentina Digital</strong>?</h1>
  <ul class="key-points">
    <li><span class="text-info glyphicon glyphicon-question-sign"><!-- --></span>
      Neutralidad de la Red
    </li>
    <li>
      <span class="text-warning glyphicon glyphicon-exclamation-sign"><!-- --></span>
      Privacidad e Inviolabilidad de las Comunicaciones
    </li>
    <li><span class="text-danger glyphicon glyphicon-remove-sign"><!-- --></span>
      Redes Comunitarias
    </li>
    <li><span class="text-info glyphicon glyphicon-question-sign"><!-- --></span>
      Autoridad de Aplicación
    </li>
  </ul>
</div>