<!doctype html>
<html>
  <head>
    <title>{{module.displayName}} - Yo los Paro</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Open graph object information, used to share in facebook -->
    <meta property="fb:app_id" content="602412299869906" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Yo los paro!" />
    <meta property="og:url" content="http://yolosparo.org" />
    <meta property="og:description"
      content="Le pedimos a nuestros legisladores que cambien su posición y voten NO al fracking, NO a la nueva ley de hidrocarburos." />
    <meta property="og:image" content="http://yolosparo.org/images/argentina_libre_de_fracking-opengraph.jpg" />

    <link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon">
    <link rel="icon" href="/favicon.ico?v=2" type="image/x-icon">

    <link rel="stylesheet" href="/vendor/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/lib/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="/css/yolosparo.css">
    <link rel="stylesheet" href="/vendor/bjqs/bjqs.css">

    <script type="text/javascript" src="/vendor/lib/es5-shim/es5-shim.min.js"></script>
    <script type="text/javascript" src="/vendor/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/bjqs/bjqs-1.3.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery.unveil.js"></script>
    <script type="text/javascript" src="/vendor/jquery.cookie.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" data-target=".navbar-collapse" data-toggle="collapse" type="button">
            <span class="sr-only">Mostrar menú</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
           </button>
          <a class="navbar-brand" href="{{mountPath}}">
            <img alt="Yo los Paro!" src="/images/logo-solo.png" width="40" height="40">
            Yo los paro!
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {{#each menuItems}}
              <li><a href="{{../module.mountPath}}{{url}}">{{text}}</a></li>
            {{/each}}
          </ul>
          <div class="pull-right">
            <button type="button"
              id="userSettings"
              class="btn btn-default btn-primary glyphicon glyphicon-user"
              title="Para cuidar tu privacidad no te pedimos que te registres. Vamos a usar tu apodo y el email para contarte cuál fue la votación final de los diputados."
              data-container="body"
              data-toggle="popover"
              data-placement="bottom"
              data-html="true">
              Hola <span class="js-user-name">{{user.nick}}</span>!
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid main-container">
      {{{body}}}
    </div>

    <form class="user-form form-inline hidden" id="userForm">

      <div class="form-group form-group-sm">
        <label>
          <span>Nick:</span> <input class="form-control"
          type="text" name="nick" value="{{user.nick}}" maxlength="50">
        </label>
      </div>
      <div class="form-group form-group-sm">
        <label>
          <span>Email:</span> <input class="form-control"
          type="text" name="email" value="{{user.email}}" maxlength="255">
        </label>
      </div>
      <div class="form-group form-group-sm pull-right">
        <button class="js-change-settings btn btn-primary">Cambiar</button>
      </div>
    </form>

    <script type="text/javascript" src="/vendor/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/UserForm.js"></script>

    <script type="text/javascript"
      src="https://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript"
      src="//connect.facebook.net/es_LA/all.js"></script>
    <script type="text/javascript">
      jQuery(function () {
        var userFormElement = jQuery("#userForm");
        var userSettingsAction = jQuery("#userSettings");
        var userForm = new ppar.UserForm(userFormElement, userSettingsAction, {
          campaign: "{{campaign}}"
        });

        userForm.render();

        userSettingsAction.popover({
          content: userFormElement
        });
        userSettingsAction.click(function () {
          userFormElement.removeClass("hidden");
        });

        jQuery("img.unveil").unveil(200);

        FB.init({
          appId: '{{config.facebookAppId}}',
          xfbml: true,
          version: 'v2.1'
        });
      });
    </script>
  </body>
</html>
